@import "../../styles/global.scss";

.countdown {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &-unit {
    margin-right: 32px;
    display: flex;
    flex-direction: row;
    width: 160px;
    position: relative;
    justify-content: center;

    @media screen and (max-width: $desktopWidth), screen and (max-height: $desktopHeight) {
      width: 140px;
    }

    @media screen and (max-width: $tabletLandscapeWidth), screen and (max-height: $tabletLandscapeHeight) {
      width: 100px;
    }

    @media screen and (max-width: $tabletPortraitWidth), screen and (max-height: $tabletPortraitHeight) {
      width: 70px;
      margin-right: 24px;
    }

    @media screen and (max-width: $mobileWidth), screen and (max-height: $mobileHeight) {
      width: 50px;
      margin-right: 10px;
    }

    &:not(:last-child)::after {
      content: "";
      background: black;
      position: absolute;
      right: -21px;
      height: 124px;
      width: 10px;

      @media screen and (max-width: $desktopWidth), screen and (max-height: $desktopHeight) {
        height: 90px;
      }

      @media screen and (max-width: $tabletLandscapeWidth), screen and (max-height: $tabletLandscapeHeight) {
        right: -20px;
        height: 72px;
        width: 8px;
      }

      @media screen and (max-width: $tabletPortraitWidth), screen and (max-height: $tabletPortraitHeight) {
        right: -13px;
        height: 46px;
        width: 6px;
      }

      @media screen and (max-width: $mobileWidth), screen and (max-height: $mobileHeight) {
        right: -6px;
        height: 30px;
        width: 4px;
      }
    }
  }

  &-unit__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h2 {
      font-size: 72px;
      margin: 0;

      @media screen and (max-width: $desktopWidth), screen and (max-height: $desktopHeight) {
        font-size: 50px;
      }

      @media screen and (max-width: $tabletLandscapeWidth), screen and (max-height: $tabletLandscapeHeight) {
        font-size: 38px;
      }

      @media screen and (max-width: $tabletPortraitWidth), screen and (max-height: $tabletPortraitHeight) {
        font-size: 24px;
      }

      @media screen and (max-width: $mobileWidth), screen and (max-height: $mobileHeight) {
        font-size: 16px;
      }
    }

    & > h3 {
      font-size: 24px;
      margin: 0;

      @media screen and (max-width: $desktopWidth), screen and (max-height: $desktopHeight) {
        font-size: 22px;
      }
      @media screen and (max-width: $tabletLandscapeWidth), screen and (max-height: $tabletLandscapeHeight) {
        font-size: 18px;
      }
      @media screen and (max-width: $tabletPortraitWidth), screen and (max-height: $tabletPortraitHeight) {
        font-size: 12px;
      }
      @media screen and (max-width: $mobileWidth), screen and (max-height: $mobileHeight) {
        font-size: 8px;
      }
    }
  }
}
