$desktopWidth: 1116px;
$desktopHeight: 940px;
$tabletLandscapeWidth: 848px;
$tabletLandscapeHeight: 822px;
$tabletPortraitWidth: 706px;
$tabletPortraitHeight: 728px;
$mobileWidth: 526px;
$mobileHeight: 618px;