@import "../styles/global.scss";

.App {
  background-image: url("../assets/PawPattern.png");
  background-color: $orange-light;
  width: 100vw;
  height: 100vh;
  min-height: $desktopHeight;
  overflow: hidden;
  min-width: 320px;

  @media screen and (max-width: $desktopWidth), screen and (max-height: $desktopHeight) {
    min-height: $tabletLandscapeHeight;
  }

  @media screen and (max-width: $tabletLandscapeWidth), screen and (max-height: $tabletLandscapeHeight) {
    min-height: $tabletPortraitHeight;
  }

  @media screen and (max-width: $tabletPortraitWidth), screen and (max-height: $tabletPortraitHeight) {
    min-height: $mobileHeight;
  }

  @media screen and (max-width: $mobileWidth), screen and (max-height: $mobileHeight) {
    min-height: 502px;
  }
}
