@font-face {
  font-family: 'RetroGaming';
  src: local('RetroGaming'),
       url('./styles/fonts/RetroGaming.ttf') format('truetype');
}

body {
  margin: 0;
  font-family: 'RetroGaming';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
