@import "../../styles/global.scss";

.countdown-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  height: 100%;
  justify-content: space-around;

  @media screen and (max-width: $desktopWidth),
    screen and (max-height: $desktopHeight) {
    justify-content: space-around;
  }

  &--hide {
    animation: hide 0.5s linear 1.5s 1 forwards;
  }

  & > h1 {
    font-size: 64px;
    margin: 0;
    background-color: $orange-light;

    @media screen and (max-width: $desktopWidth),
      screen and (max-height: $desktopHeight) {
      font-size: 48px;
    }

    @media screen and (max-width: $tabletLandscapeWidth),
      screen and (max-height: $tabletLandscapeHeight) {
      font-size: 36px;
    }

    @media screen and (max-width: $tabletPortraitWidth),
      screen and (max-height: $tabletPortraitHeight) {
      font-size: 24px;
    }

    @media screen and (max-width: $mobileWidth),
      screen and (max-height: $mobileHeight) {
      font-size: 16px;
    }
  }

  & > .placard {
    @media screen and (max-width: $desktopWidth),
      screen and (max-height: $desktopHeight) {
      margin-top: 24px;
    }

    @media screen and (max-width: $tabletLandscapeWidth),
      screen and (max-height: $tabletLandscapeHeight) {
      margin-top: 48px;
    }
  }

  & > .timeline__container {
    margin-top: auto;
    margin-bottom: 32px;

    @media screen and (max-width: $desktopWidth),
      screen and (max-height: $desktopHeight) {
      margin-top: unset;
      margin-bottom: 64px;
    }
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
