.countdown-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  height: 100%;
  justify-content: space-around;


  @media screen and (max-width: 1116px) {
    justify-content: space-around;
  }

  & > h1 {
    font-size: 64px;
    margin: 0;
    background-color: #ffcd59;

    @media screen and (max-width: 1116px) {
      font-size: 48px;
    }

    @media screen and (max-width: 848px) {
      font-size: 36px;
    }

    @media screen and (max-width: 706px) {
      font-size: 24px;
    }
  }

  & > .placard {
    @media screen and (max-width: 1116px) {
      margin-top: 24px;
    }

    @media screen and (max-width: 848px) {
      margin-top: 48px;
    }
  }

  & > .timeline__container {
    margin-top: auto;
    margin-bottom: 32px;

    @media screen and (max-width: 1116px) {
      margin-top: unset;
      margin-bottom: 64px;
    }
  }
}
